[type=submit],[type=button]{
    border: none;cursor: pointer;
}


.normal_submit{
    padding: 8px 20px;
    background: #555;
    color: #fff;

    font-size: 16px;
}
.normal_submit:hover{
    background: #FF6600;
}
.normal_submit:active{
    background: red;
    font-size: 12px;

}

.arrow{
    border: none;cursor: pointer;font-size: 50px;color: #555;font-family: '宋体';background: none;
}
.middlearrow{
    position: fixed;top:50%;left: 20px;
}
.arrow:hover{
    color: #FF6600;
}
.arrow:active{
    color: red;
}
.del,.edit{
    padding: 2px 4px;
    background: #555;
    color: #fff;
    font-size: 12px;

}
.del:hover,.edit:hover{
     background: #FF6600;

 }

.del:active,.edit:active{
    background: red;
    font-size: 10px;

}